*/
*copy data ini kedalam /home/user/
/*
[user]
	name = Mohamad Sholihin
	email = linux_mint@yahoo.com
[color]
	ui = true
[sendemail]
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = iqin.nux@gmail.com
